<% provide(:title, @team.teamname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
      <h1>
        <%= @team.teamname %>
      </h1>
      <p>
        <%= @team.teamcolor %><br>
      </p>
      <p>
        <%= label = "Team Captain:" %>
        <%= captain_name(@team.captain) %><br>
      </p>
      <!-- <p><%= link_to "Select/Change Captain", captain_admin_team_path(@team) %></p>-->

      <% if current_user.admin? && @team.captain != nil %>
        <p><%= link_to "Change Captain", captain_admin_team_path(@team),
                                  data: { confirm: "You sure?" } %></p>
      <% else %>
        <p><%= link_to "Select/Change Captain", captain_admin_team_path(@team) %></p>
      <% end %>


      <br>
      <p><%= link_to "Edit Team", edit_admin_team_path(@team) %>
      </p>
      <br>
      <p>
        <%= label = "Team Members:" %>
        <ul class="users">
          <% @teams.each do |users| %>
             <%= render users %>
          <% end %>
      </p>
    </section>
  </aside>
</div>