<% provide(:title, @team.teamname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
      <h1>
        <%= @team.teamname %>
      </h1>
      <p>
        <%= @team.teamcolor %><br>
      </p>
      <p>
        <%= label = "Team Captain:" %>
        <%= captain_name(@team.captain) %><br>
      </p>
      <br>
      <p><%= link_to "Edit Team", edit_admin_team_path(@team) %>
      </p>
      <br>
      <p>
        <%= label = "Team Members:" %>
        <ul class="users">
          <% @team.users.each do |users| %>
             <%= render users %>
          <% end %>
    </section>
  </aside>
</div>