<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <!--<a href="http://www.jesushousedc.org"><img src="assets/JHDClogo.png", alt="Mini Olympics" /></a> -->
      <a href="http://www.jesushousedc.org"><%= image_tag("JHDClogo.png",alt: "Mini Olympics" )%></a>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in?  %>
          <% if current_user.admin? %>
            <li><%= link_to "Home", admin_user_profile_path(current_user, @Profile) %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Teams", admin_teams_path %></li>
            <li><%= link_to "Sports", admin_sports_path %></li>
          <% else %>
            <li><%= link_to "Home", user_profile_path(current_user, @Profile) %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                 <li class="divider"></li>
                 <li><%= link_to "Create A Team", new_admin_team_path %></li>
                 <li><%= link_to "Create A Sport", new_admin_sport_path %></li>               
                 <li><%= link_to "Medals", '#' %></li>
                 <li class="divider"></li>
                  <li><%= link_to "Edit Profile", edit_admin_user_profile_path(current_user) %></li>
                  <li><%= link_to "Change Password", edit_admin_user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Registration", select_team_user_path(current_user) %></li>
                <li class="divider"></li>
                  <li><%= link_to "Teams", teams_path %></li>
                   <li><%= link_to "Sports", sports_path %></li>
                <li class="divider"></li>
                  <li><%= link_to "Edit Profile", edit_user_profile_path(current_user) %></li>
                 <li><%= link_to "Change Password", edit_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <!-- <li><%= link_to "Log out", logout_path, method: "delete" %></li> -->
              <li><a href="/logout" rel="nofollow" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Home",    root_path %></li>
          <!--  <li><%= link_to "Log In", login_path %></li> --> 
           <!-- <li><a href= /login ><span class="glyphicon glyphicon-log-in"></span> Log In</a></li> -->
          <!-- <li><a href= /login class="glyphicon glyphicon-log-in"><%= link_to "Log In" %></a></li> -->
          <li><a href= "/login" class="glyphicon glyphicon-log-in" >Log In</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>